
@{
    Layout = null;
}

<!DOCTYPE html>
@*TODO remove it*@
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>hello</title>
</head>
<body>
    <h1>hello</h1>
</body>
</html>
